[Unit]
Description=welle-io DAB+ receiver
After=network.target

[Service]
EnvironmentFile=/etc/default/welle-io
ExecStart=/opt/welle-io/welle-io $WELLE_ARGS

[Install]
WantedBy=multi-user.target
